.dyna-autocomplete {
	input {
		width: 100%;
		border-color: transparent;
		font-weight: bold;
		font-size: 16px;

		&:focus {
			outline: none;
		}
	}

	.dyna-autocomplete-menu {
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1000;
		cursor: pointer;
	}

	&.dyna-ui-field-wrapper {

		&--mode-VIEW {
			// bug fix: for util.js:9 Uncaught TypeError: Cannot read property 'ownerDocument' of null
			// more info for this bug fix at https://github.com/reactjs/react-autocomplete/issues/261
			pointer-events: none;
		}

		&--style- {
			&INLINE_ROUNDED {

				.dyna-ui-picker-container {
					> * {
						&:first-child {
							border-top-left-radius: 8px;
							border-top-right-radius: 8px;
						}
						&:last-child {
							border-bottom-left-radius: 8px;
							border-bottom-right-radius: 8px;
						}
					}

				}

			}
		}

	}

}
