.dyna-autocomplete {

	.dyna-autocomplete-menu {
		position: absolute;
		box-sizing: border-box;
		max-width: 50%;
		border: 1px solid #cccccc;
		background-color: white;
		z-index: 1000;
		padding: 3px;
	}
}
